{% extends 'backend-layout.html.twig' %}

{% block content %}
    <div style="margin-left: 15%;">
        <div>
            <h1>Edit Client</h1>
            {{ form_start(editForm) }}
            <div class="col">
                <div class="col" id="some-custom-id">
                    {{ form_label(editForm.email, null, {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(editForm.email, {'attr': {'class': 'form-control', 'style': 'width: 20%;'}}) }}
                    <small id="helpEmail" class="form-text text-muted" style="display: flex;">
                        {{ form_label(editForm.email) }}&nbsp must be like example@mail.com.
                    </small>
                    <small id="email" style="color:red;">
                        {{ form_errors(editForm.email) }}
                    </small>
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_label(editForm.credit, null, {'label_attr': {'class': 'col-form-label'}}) }}
                    {{ form_widget(editForm.credit, {'attr': {'class': 'form-control', 'style': 'width: 20%;'}}) }}
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Save</button>
                <br>
                <div style="margin-top: 20px;">
                    {% if not client.isActive %}
                        <a href="{{ path('set-user-actions', {'user': 'clients', 'id': client.id, 'action': 'activate'}) }}">
                            <button type="button" class="btn btn-success" style="margin-bottom: 20px">mark as active
                            </button>
                        </a>
                    {% else %}
                        <a href="{{ path('set-user-actions', {'user': 'clients', 'id': client.id, 'action': 'deactivate'}) }}">
                            <button type="button" class="btn btn-secondary" style="margin-bottom: 20px">mark as
                                inactive
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
            {{ form_end(editForm) }}
        </div>
    </div>
{% endblock %}